# ==========================================
# 1. CORE DEEP LEARNING
# ==========================================
torch>=2.0.0

# ==========================================
# 2. DATA PROCESSING & MACHINE LEARNING
# ==========================================
pandas
numpy
scikit-learn

# ==========================================
# 3. TRANSFORMER & LORA
# ==========================================
transformers==4.38.2
peft
accelerate
sentencepiece
protobuf         # <-- Bổ sung thêm để chạy mượt tokenizer viT5

# ==========================================
# 4. MLOPS & VISUALIZATION (BIỂU ĐỒ)
# ==========================================
tensorboard
tqdm
matplotlib
seaborn

# ==========================================
# 5. NLP VIETNAMESE 
# ==========================================
underthesea

# ==========================================
# 6. DEPLOYMENT (WEB APP)
# ==========================================
gradio
